<h1>Widgets</h1>

<div style="width: 300px; margin: 0 auto; border: 1px solid black;">
  <div class="card">
    <div class="card-header" style="text-align: center; background: #c0c0c0">Truelytics</div>
    <div class="card-body m-0 p-0" style="min-height: 320px;">
      <div #integration></div>
    </div>
    <div class="card-footer m-0 p-0" style="border-top: 1px solid black; text-align: center;">
      <a [routerLink]="['/truelytics', 'peer-benchmarks']">Go to Peer Benchmarks</a>
    </div>
  </div>
</div>
